.style-switcher
{
    position: fixed;
    right: 0;
    top: 60px;
    padding: 15px;
    width: 200px;
    z-index: 101;
    transition: all 0.3s ease;
}

.style-switcher .s-icon
{
    position: absolute;
    height: 40px;
    width: 40px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    left: 50%;
}